body {
    font-family: "Segoe UI", "Helvetica Neue", "Toppan Bunkyu Gothic", Arial;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Apply styles to all header tags directly */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

.display-text {
    user-select:auto;
}

.head-text {
    font-weight: 700;
    font-kerning: auto;
    letter-spacing: -1pt;
}

.head-nav-text {
    font-weight: 700;
    letter-spacing: -0.5pt;
}

.header-banner {
    background-color: white;
    color: #0d0015;
}

.line-overlay {
    position: relative;
    padding-top: 0.5rem;
    /* Necessary for the pseudo-element positioning */
    padding-bottom: 0.5rem;
}

/* Style for the pseudo-element to create the white line */
.line-overlay::after {
    content: '';
    position: absolute;
    top: 10%;
    /* Adjust the vertical position */
    left: 0;
    right: 0;
    height: 1pt;
    /* Line thickness */
    background-color: #0d0015;
    /* Line color */
}

.inline-text-circle {
    font-size: 3em;
}

.circle {
    user-select: none;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: #0d0015;
    color: white;
    font-size: 2em;
    /* Adjust the font size as needed */
    border-radius: 50%;
    margin: 0;
    /* Adjust spacing as needed */
    text-align: center;
    border-width: 0;
}

.bg-stop {
    background-color: #d3381c;
}

.bg-primary {
    background-color: #165e83;
}

.bg-secondary {
    background-color: #028760;
}

.my-card {
    border-radius: 0;
    border-color: #0d0015;
}

.my-card>.list-group:first-child {
    border-radius: 0;
}

.my-card>.list-group:last-child {
    border-radius: 0;
}


.my-list-group-item {
    border-style: none;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
    /* Smooth transition */
}

.my-list-group-item:hover {
    color: white;
    /* Text color on hover */
    background-color: #0d0015;
    /* Background color on hover */
}

.my-list-group-item:focus {
    color: white;
    /* Text color on hover */
    background-color: #0d0015;
    /* Background color on hover */
}

.my-card-header {
    background-color: #0d0015;
    color: white;
}

.my-card-header:first-child {
    border-radius: 0;
}

.text-active {
    font-weight: 200;
}

.text-inactive {
    font-weight: 100;
}

.my-nav-item {
    padding-right: 0.5rem;
}

.my-nav-link {
    color: #0d0015;
    padding: 0;
}

.my-nav-link:focus {
    background-color: #0d0015;
    color: white;
}

.my-nav-link:hover {
    background-color: #0d0015;
    color: white;
}


.link-no-effect {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the same color as the surrounding text */
    cursor: pointer; /* Keep the pointer cursor to indicate it's clickable */
  }
  
  /* Remove any visual effects on hover, focus, and active states */
  .link-no-effect:hover,
  .link-no-effect:focus,
  .link-no-effect:active {
    text-decoration: none;
    color: inherit;
  }